div {
    color: black;
}

.alert-text {
    color: black;
}

.subsection.header {
    background-color: lightgray;
    padding: 8px;
}

.recipe.header {
    background-color: lightgray;
    text-align: center;
    padding: 8px;
}